<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Detection Webcam</title>
    <style>
        #container {
            margin: 0px auto;
            width: 500px;
            height: 375px;
            border: 10px #333 solid;
        }

        #videoElement {
            width: 100%;
            height: 100%;
            background-color: #666;
        }
    </style>
</head>
<body>
    <div id="container">
        <img id="videoElement" src="{{ url_for('video_feed') }}" alt="Video feed">
    </div>
    <script>
        const videoElement = document.getElementById('videoElement');
        videoElement.addEventListener('load', () => {
            videoElement.style.transform = 'scaleX(-1)'; // Flip the video horizontally
        });
    </script>
</body>
</html>-->
